.recipe-page {
  padding: 1rem;
  text-align: left;
}

.recipe-meta * {
  margin-right: 1rem;
}

.recipe-header {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}

.recipe-tags {
  padding: 1rem;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.recipe-body {
  display: grid;
  grid-template-columns: 25% 75%;
}

.recipe-ingredients {
  grid-column: 1;
}

.recipe-steps {
  grid-column: 2;
}

.ingredients-list {
  list-style: none;
}

.ingredient {
  display: grid;
  grid-template-columns: 15% 85%;
}

.ingredient-amount {
  grid-column: 1;
  text-align: right;
  padding-right: 0.5rem;
}

.ingredient-item {
  grid-column: 2;
}
